<fieldset style="border:solid;border-width:1px;padding:5px;font-size: small;" >
    <legend style="font-size:small; font-weight:bolder; color:#295B8B; text-align:left;">Student Information</legend>
    <table>
        <tr>
            <td>
                School:
            </td>
            <td>
                <dropdownlid id="ddlSchool"></dropdownlid>
            </td>
        </tr>
        <tr>
            <td>
                Principal
            </td>
            <td></td>
        </tr>

    </table>
</fieldset>


